/* FONTS */
@font-face {
    font-family: Terminus;
    src: url('/fonts/TerminusModern.ttf') format('truetype');
}

@font-face {
    font-family: Retro;
    src: url('/fonts/3270.ttf') format('truetype');
}

@font-face {
    font-family: C64;
    src: url('/fonts/C64.ttf') format('truetype');
}

@font-face {
    font-family: Apple2;
    src: url('/fonts/Apple2.ttf') format('truetype');
}

/* COLORS */
.color-base {
    color: #6f88a2;
}

.color-alt {
    color: #619d87;
}

.color-highlight {
    color: #96c3f1;
}

.color-bg-light {
    color: #1A1616;
}

.color-bg-med {
    color: #222222;
}

.color-bg-dark {
    color: #000000;
}

.color-footer-body {
    color: #666666;
}

/* ROOT */
:root {
    --fontSize: 1.0rem;
    --background: #222222;
    --background-secondary: #1A1616;
    --header: #1A1616;
    --color: #96c3f1;
    --color-secondary: #222222;
    --border-color: #dcdcdc;
    --phoneWidth: (max-width:684px);
    --tabletWidth: (max-width:900px);

    /* Prine Vars */
    --color-base: #6f88a2;
    --color-alt: #619d87;
    --color-highlight: #96c3f1;
}

.main {
    background-color: var(--background);
    font-size: var(--fontSize);
    font-family: Terminus;
    width: 100%;
    max-width: 100%;
}

.main-logo {
    padding-top: 20px;
}

.container {
    flex-direction: column;
    font-size: var(--fontSize);
    text-align: center;
    color: var(--color);
    background-color: var(--color-secondary);
}



/* MAIN */
.container,
.content {
    display: flex;
    font-size: var(--fontSize);
    background-color: var(--background);
    justify-content: center;
}

.content {
    font-family: Terminus;
    font-size: var(--fontSize);
    background-color: var(--background);
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    margin: 50px 0
}

@media (max-width:683px) {
    .content {
        margin-top: 0;
        max-width: 600px;
    }
    .flex-row {
        flex-direction: column;
    }
}

/* ATTRIBUTES */
.glow {
    text-shadow: #ffffff 0px 0px 8px;
}

a:link {
    text-decoration: none;
    text-shadow: rgba(240,240,240, .8) 0px 0px 10px;
}

.menu-icon {
    padding: 5px;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    display: flex;
}

.menu {
    font-size: 1.1rem;
    font-family: Terminus;
    margin-right: 18px;
    padding-right: 24px;
}

.menu a:hover {
    text-decoration: underline;
}

.menu a {
    text-decoration: none
}


/* DISPLAY MOBILE */
@media screen and (max-width:768px) {
    .content-desktop {
        display: none;
    }
    .content-mobile {
        display: block;
    }
    .menu {
        position: absolute;
        display: none;
    }
    .menu-alt {
        position: absolute;
        background: var(--background);
        margin: 0;
        list-style: none;
        border-radius: 5px;
        border: none;
        top: 50px;
        right: 10px;
        padding-left: 10px;
    }
    .toggle-mobile-menu {
        display: block;
    }
    .menu-desktop {
        display: none;
    }
    .side {
        border: #96c3f1 1px solid;
    }
    .hidden {
        display: none
    }
}

/*
 * CSS "What it does" style classes
 */

.content-h1 {
    font-family: Retro;
    font-size: 1.4rem;
    color: var(--color-highlight);
}
.content-h2 {
    font-family: Retro;
    font-size: 1.3rem;
    color: var(--color-highlight);
}
.content-p {
    font-family: Terminus;
    font-size: 1.0rem;
}
.content-container {
    color: var(--color-base);
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 20px auto
}
@media (max-width:899px) {
    .content-container {
        max-width: 660px
    }
}

.content-meta {
    font-size: 1rem;
    margin-bottom: 10px
}

@media (max-width:683px) {
    .content-meta {
        font-size: .85rem
    }
}

.content-more {
    padding-left: 10px;
    color: var(--color-alt);
    font-family: Retro;
    font-size: 1rem;
    margin-bottom: 10px
}

@media (max-width:683px) {
    .content-more {
        font-size: .85rem
    }
}

.content-fa {
    display: inline-block;
    top: 0.15rem;
    height: 1rem;
    width: 1rem;
    position: relative;
}

.content-fa-p {
    color: var(--color-highlight);
    display: inline-block;
    left: -0.2rem;
    height: 0.6rem;
    width: 0.6rem;
    position: relative;
}

.content-summary {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    border-bottom: #96c3f1 1px solid;
    background: #fafafa;
    background: var(--header);
    display: flex;
    padding: 12px

}

.code-toolbar .toolbar-item a {
    display: inline-flex;
    padding: 3px 8px;
    margin-bottom: 5px;
    background: #eaeaea;
    background: var(--background-secondary);
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none
}

.code-toolbar .toolbar-item a,
.header {
    position: relative;
    align-items: center;
    justify-content: center

}



body {
    margin: 0;
    padding: 0;
    font-family: Terminus;
    font-size: 1rem;
    font-style: normal;
    font-weight: 0;
    letter-spacing: 1px;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
    line-height: 1.54;
    background-color: #fff;
    background-color: var(--background);
    color: #222;
    color: var(--color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%
}


.logo {
    text-decoration: none;
    font-size:1.3rem;
    font-family: Terminus;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    text-decoration: none;
}

.logo__host {
    color: #6f88a2;
}

.logo-user {
    color: #619d87;
}

.logo-punc {
    color: #96c3f1;
}

.logo-cursor {
    display: inline-block;
    width: 5px;
    height: 1rem;
    background: var(--color-base);
    margin-left: 7px;
    border-radius: 1px;
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite
}


@-webkit-keyframes cursor {
    0% {
        opacity: 0
    }
    50% {
        opacity: .8
    }
    to {
        opacity: 0
    }
}

@keyframes cursor {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

a {
    color: inherit
}




/* ------------------------------------
 * Prine Theme Above This Line
 * ------------------------------------
 */








.header__right {
    display: flex;
    flex-direction: row;
    align-items: center
}

@media (max-width:683px) {
    .header__right {
        flex-direction: row-reverse
    }
}

.header__inner {
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 100%

}

.header__inner,
.theme-toggle {
    display: flex;
    align-items: center
}

.header__inner,
.sidebar-toggle-left {
    display: flex;
    align-items: center
}

.sidebar-toggle-left {
    justify-content: center;
    line-height: 1;
    cursor: pointer
}

.logo a {
    text-display: none;
}

.menu__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

@media (max-width:683px) {
    .menu__inner--desktop {
        display: none
    }
}




.menu__inner li {
    text-align: left;
    flex: 0 0 auto
}

.menu__inner li:not(:first-of-type) {
    margin-left: 20px
}


@media (max-width:683px) {
    body {
        font-size: 1rem
    }
}

.footer {
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    border-top: #96c3f1 1px solid;
    padding-bottom: 10px;
    background: #1A1616;
    color: var(--color);
    width: 100%;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%
}

@media (max-width:899px) {
    .footer__inner {
        flex-direction: column
    }
}

.footer a {
    color: inherit
}

.footer .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem
}

.footer .copyright--user {
    margin: auto;
    text-align: center
}

.footer .copyright>:first-child:not(:only-child) {
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px
}

@media (max-width:899px) {
    .footer .copyright>:first-child:not(:only-child) {
        border: none;
        padding: 0;
        margin: 0
    }
}

@media (max-width:899px) {
    .footer .copyright {
        flex-direction: column;
        margin-top: 10px
    }
}

div.code-toolbar {
    position: relative
}

div.code-toolbar>.toolbar {
    position: absolute;
    top: .3em;
    right: .2em;
    transition: opacity .3s ease-in-out;
    opacity: 0
}

div.code-toolbar:hover>.toolbar {
    opacity: 1
}

div.code-toolbar>.toolbar .toolbar-item {
    display: inline-block
}

div.code-toolbar>.toolbar a {
    cursor: pointer
}

div.code-toolbar>.toolbar button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

div.code-toolbar>.toolbar a,
div.code-toolbar>.toolbar button,
div.code-toolbar>.toolbar span {
    color: #bbb;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: hsla(0, 0%, 87.8%, .2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
    border-radius: .5em
}


.command-line-prompt {
    border-right: 1px solid #999;
    display: block;
    float: left;
    font-size: 100%;
    letter-spacing: -1px;
    margin-right: 1em;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.command-line-prompt>span:before {
    color: #999;
    content: " ";
    display: block;
    padding-right: .8em
}

.command-line-prompt>span[data-user]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] $"
}

.command-line-prompt>span[data-user=root]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] #"
}

.command-line-prompt>span[data-prompt]:before {
    content: attr(data-prompt)
}

