{{ define "main" }}
  <div class="content-container">
    {{ range .Pages }}
      <div class="content-container">
        <h1 class="content-h1"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        <div class="content-meta">


        <div class="content-summary">
          {{ with .Summary }}
            {{ . | markdownify }}
            {{ else }}
            {{ if .Truncated }}
              {{ .Summary }}
            {{ end }}
          {{ end }}
        </div>
          <div class="content-more">
            <a href="{{ .RelPermalink }}">
              {{ partial "fa-p.html" "angle-right" }} More
            </a>
          </div>
          <div class="content-more">
          {{ with .Params.Author }}
            {{ partial "fa-p.html" "pen" }} {{ $.Site.Params.WrittenBy | default "" }} {{ . }}
          {{ end }}
          </div>
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}