<span class="logo glow">
    <a href="/" class="logo" style="text-decoration: none">
    <span class="color-highlight">[</span>
    <span class="color-alt">{{ $.Site.Params.Logo.logoUser }}</span>
    <span class="color-highlight">@</span>
    <span class="color-highlight">{{ $.Site.Params.Logo.logoHost }}</span>
    <span class="color-alt">]: </span>
    </a>
    {{ if .File.BaseFileName }}
    <span class="color-highlight">  ~/{{ .File.BaseFileName }}</span>
    {{ else }}
    <span class="color-highlight">  ~</span>
    {{ end }}
    <span class="color-alt">$</span>
  <span class="logo-cursor"></span>
</span>